/*双飞翼布局*/
 *{
 	margin: 0;
 	padding: 0;
 	font-family: "微软雅黑";
 }
 a{
 	text-decoration: none;
 	cursor: pointer;
 }
 a:focus,a:hover{
 	cursor: pointer;
	text-decoration: none;
 }
	
 /*滚动条垂直方向的宽度*/
::-webkit-scrollbar
{
	width: 2px;
}
/* 垂直滚动条的滑动块 */
::-webkit-scrollbar-thumb:vertical {
	border-radius: 1px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:  deepskyblue;
}
.left,
.right,
.middle{
  position: relative;
  float: left;  
  height:100%;
  min-height: 600px;
}
.middle{
	background: #F8EFC0;
	width: 100%;
}
.left{
	width: 250px;
	background: aliceblue;
	margin-left: -100%;
}
.right{
	width: 400px;	
	background: aliceblue;
	margin-left: -400px;
	right: -400px;
	z-index: 4;
}
.right .content{
	padding: 0px ;
	height: 100%;
	border-left:  1px solid rgba(0, 128, 0, 0.22);
}
#right-content{
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.right textarea{
	margin-top: 10px;
}
/*内容样式*/
.middle .content{
	height: 100%;
	background: #f3f3f3;
	position: relative;
	min-height: 600px;
	margin: 0 0 0 250px;
	overflow: hidden;
	
	border:  1px solid rgba(0, 128, 0, 0.22);
	border-top: none;
}
.middle .mask{
	height: 100%;
	width: 100%;
	position: absolute;
	background: red;
	top: 40px;
	left: 0px;
	background: rgba(255, 255, 255, 0.01);
	z-index: 102;
}
#draw_panel_content{
	border: 1px solid dodgerblue;
	background: rgba(255, 235, 59, 0.18);
	width: 100%;
	height: 100%;
	position: relative;
	top: 40px;
	overflow: hidden;
	cursor: pointer;
}
/*头部菜单*/
.header{
    background-color: aliceblue;
    border:  1px solid rgba(0, 128, 0, 0.22);
	padding: 10px 15px;
}
.header span{
    font-size: 20px;
    font-weight: bold;
}

.table>tbody>tr>td{
	padding: 3px 8px;
}


