<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>STAT HUB MASTER</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" href="/static/assets/css/amazeui.min.css" />
<link rel="stylesheet" href="/static/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，STAT HUB 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar admin-header">
	<div class="am-topbar-brand">
		<strong>STAT HUB</strong> <small>容器管理</small>
	</div>
	<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}">
		<span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
	</button>
	<div class="am-collapse am-topbar-collapse" id="topbar-collapse">
		<ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
			<li>
				<a href="message.html"><span class="am-icon-envelope-o"></span>消息 <span class="am-badge am-badge-warning">{{ messageCount }}</span></a>
			</li>
		</ul>
	</div>
</header>

<div class="am-cf admin-main">
	<!-- sidebar start -->
	<!--
	<div class="admin-sidebar">
		<ul class="am-list admin-sidebar-list">
			<li><a href="/admin/"><span class="am-icon-home"></span> 首页</a></li>
			<li><a href="node-list.html"><span class="am-icon-th"></span> 节点</a></li>
			<li class="admin-parent">
				<a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-puzzle-piece"></span> 服务<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
				<ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
					<li><a href="service-list.html" class="am-cf"><span class="am-icon-table"></span> 所有服务<span class="am-fr am-margin-right admin-icon-yellow"></span></a></li>
					<li><a href="service-new.html"><span class="am-icon-plus"></span> 新增服务</a></li>
				</ul>
			</li>
			<li><a href="message.html"><span class="am-icon-envelope"></span> 消息</a></li>
			<li><a href="help.html"><span class="am-icon-bookmark"></span> 帮助</a></li>
		</ul>
	</div>
	-->
	<!-- sidebar end -->

	<!-- content start -->
	<div id="containers-table" class="admin-content">
		<div class="am-cf am-padding">
			<div class="am-fl am-cf">
				<strong class="am-text-primary am-text-lg">容器</strong> / <small>containers on {{ node.info.publicIp }}</small>
			</div>
		</div>
		<div class="am-g">
			<div class="am-u-md-6 am-cf">
				<div class="am-fl am-cf">
					<div class="am-btn-toolbar am-fl">
						<div class="am-btn-group am-btn-group-xs">
							<button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
						</div>
						<div class="am-form-group am-margin-left am-fl">
						</div>
					</div>
				</div>
			</div>
			<div class="am-u-md-3 am-cf">
				<div class="am-fr">
					<div class="am-input-group am-input-group-sm">
					</div>
				</div>
			</div>
		</div>
		<div class="am-g">
			<div class="am-u-sm-12">
				<table class="am-table am-table-striped am-table-hover table-main">
					<thead>
						<tr>
							<th class="table-check"><input type="checkbox" /></th>
							<th class="table-id">ID</th>
							<th class="table-title">服务/镜像</th>
							<th class="table-title">名称</th>
							<th class="table-type">状态</th>
							<th class="table-date">描述</th>
							<th class="table-title">命令</th>
							<th class="table-author" width="120">端口</th>
							<th class="table-title" width="150">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="container in containers">
							<td><input type="checkbox" /></td>
							<td>{{ container.index }}</td>
							<td>{{ container.displayName }}</td>
							<td>
								<a v-bind:href="[ '/container/' + container.id ]">
								{{ container.name }}
								</a>
							</td>
							<td>
								<span v-bind:class="[ container.stateClass ]">{{ container.state }}</span>
							</td>
							<td>{{ container.description }}</td>
							<td>{{ container.command }}</td>
							<td>{{ container.portDesc }}</td>
							<td>
						    <div class="am-btn-toolbar">
						      <div class="am-btn-group am-btn-group-xs">
						        <a v-bind:href="[ '/container/' + container.id + '/log' ]" class="am-btn am-btn-default am-btn-xs" target="_blank"><span class="am-icon-pencil-square-o"></span> 日志</a>
						      	<a v-bind:href="[ '/container/' + container.id + '/terminal' ]" class="am-btn am-btn-default am-btn-xs" target="_blank"><span class="am-icon-cube"></span> 终端</a>
						      </div>
						    </div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="am-cf">
					共 {{ total }} 条记录
				</div>
				<hr />
				<p>
					节点 {{ node.info.publicIp }} 分配 {{ node.containers.total }} 个容器，正在运行 {{ node.containers.running }} 个进程
					<br/><br/><br/><br/>
				</p>
			</div>
		</div>
	</div>
	<!-- content end -->
</div>

<footer>
	<p class="am-padding-left">&copy; 2014 STAT HUB lane.cn@gmail.com https://github.com/lane-cn/stat</p>
</footer>

<!--[if lt IE 9]>
<script src="/static/assets/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/assets/2.8.3/modernizr.js"></script>
<script src="/static/assets/js/polyfill/rem.min.js"></script>
<script src="/static/assets/js/polyfill/respond.min.js"></script>
<script src="/static/assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="/static/assets/js/app.js"></script>

<!-- script begin -->
<script src="/static/assets/js/vue.min.js" type="text/javascript"></script>
<script src="/static/assets/js/vue-resource.min.js" type="text/javascript"></script>
<script src="/static/assets/js/common.js" type="text/javascript"></script>
<script>
$(document).ready(function () {
	containersTable.init();
});

var containersTable = new Vue({
	el : '#containers-table',
	data : {
		total: 0,
		node: {},
		containers: [],
		pages: [],
		currentPage: 0,
		pageCount: 0
	},
	methods: {
		init: function() {
			containersTable.refresh();
		},
		refresh: function() {
			Vue.http.get('/api/node/${nodeId}').then(function(ret){
				var node = ret.body;
				containersTable.node = node;
			});
			Vue.http.get('/api/node/${nodeId}/container').then(function(ret) {
				var containers = ret.body;
				containersTable.total = containers.length;
				containersTable.containers = containers;
				var index = 1;
				$.each(containers, function(i, container) {
					container.index = index ++;
					if (container.namespace > '' && container.service > '') {
						container.displayName = container.namespace + '/' + container.service;
					} else { 
						container.displayName = container.image;
					}
					if (container.state === 'running') {
						container.stateClass = 'am-badge am-badge-success';
					} else {
						container.stateClass = 'am-badge am-badge-danger';
					}
					var ports = container.ports;
					container.portDesc = '';
					if (ports != null && ports.length > 0) {
						$.each(ports, function(j, port) {
							container.portDesc += port.publicPort + ':' + port.privatePort + '/' + port.type;
						});
					}
				});
			});
		}
	}
});
$(document).ready(function () {
	containersTable.refresh();
	setInterval(function() {
		containersTable.refresh();
	}, 5000);
});

</script>
<!-- script end -->
</body>
</html>
