<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="cn.batchfile.stat.server.dao.ConfigDao" >

	<select id="getInteger" parameterType="string" resultType="java.lang.Integer">
		SELECT `int_value` FROM `config` WHERE `name`=#{value}
	</select>
	
	<select id="getString" parameterType="string" resultType="string">
		SELECT `string_value` FROM `config` WHERE `name`=#{value}
	</select>
	
	<select id="getDate" parameterType="string" resultType="java.util.Date">
		SELECT `int_value` FROM `config` WHERE `name`=#{value}
	</select>

	<insert id="setInteger" parameterType="map">
		REPLACE `config` (`name`,`int_value`) VALUES (#{param1},#{param2})
	</insert>
	
	<insert id="setString" parameterType="map">
		REPLACE `config` (`name`,`string_value`) VALUES (#{param1},#{param2})
	</insert>

	<insert id="setDate" parameterType="map">
		REPLACE `config` (`name`,`time_value`) VALUES (#{param1},#{param2})
	</insert>

</mapper>