<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="style_font_window_mask" class="title-window-mask"></div>
		<div id="style_font_window" class="title-window-container" style="width: 400px;">
			<img class="title-window-icon-close" src="img/view/close.png"  />
			<div class="panel panel-default">
				<div class="panel-heading">字体属性设置</div>
				<div class="panel-body">
					<div class="form-group" style="padding: 20px">
						<div name="style.font" class="style-component-font"></div>
					</div>
					<div class="form-group" style="padding: 15px 5px 10px;">
						<button type="button" name="confirm" class="btn btn-primary pull-right">确定</button>
						<button type="button" name="cancel" class="btn btn-primary pull-right">取消</button>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>