<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../js/rely/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../css/main.css" />
		<script type="text/javascript" src="../../js/rely/jquery-3.2.1.min.js" ></script>
	</head>
	<body>
	 <!--<div class="list-header">
		 <input id="input_left_search" name="name"  type="text" class="form-control"  placeholder="search">
	</div>-->
	<div  class="list-content" >
		<!--<div class="list-group">
			  <div class="list-group-item">
			  		<h4 class="group-title">图表</h4>
			  		<div class="list-group">
			  			<a class="img-container"><img src="img/componentType/line_chart.png"  style="width: 32px; height: 32px" /></a>
			  		</div>
			  </div>
			</div>-->
		</div>
	</body>
</html>
