<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../js/rely/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../css/main.css" />
		<script type="text/javascript" src="../../js/rely/jquery-3.2.1.min.js" ></script>
	</head>
	<body>
		<div id="export_window_mask" class="title-window-mask" ></div>
		<div id="export_window" class="title-window-container">
			<img class="title-window-icon-close" src="img/view/close.png"  />
			<blockquote>
			  	<p><a href="repository/demo_export.zip">Download</a></p>
			</blockquote>
			<h4 style="margin-left: 15px">注：将以下内容拷贝到压缩包的config/data.json文件中：</h4>
			<textarea id="export_content" style="height: 400px;width:660px;margin: 10px 20px;"></textarea>
		</div>
	</body>
</html>
