<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../rely/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../css/main.css" />
		<script type="text/javascript" src="../../rely/jquery-3.2.1.min.js" ></script>
		<script type="text/javascript" src="../../rely/bootstrap/js/bootstrap.min.js" ></script>

	</head>
	<body>
		<div class="layer-panel-title">
			<span >图层</span>
			<span class="layer-panel-add glyphicon glyphicon-plus pull-right"></span>
		</div>
		<div id="layers_panel"></div>
	</body>
</html>
