<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../js/rely/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../css/main.css" />
		<script type="text/javascript" src="../../js/rely/jquery-3.2.1.min.js" ></script>
	</head>
	<body>
	 <div class="file-tool">
		<input type="file" id="file_tool_input" style="display: none;"  multiple="multiple" accept="image/gif,image/png" />
		<button id="file_tool_select" type="button" name="choose"  class="btn btn-primary btn-sm" >选择文件...</button>
	</div>
	<div class="file-container">
		
	</div>
	</body>
</html>
