<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
			<div id="border_item_all"  class="border-item" >
					<select  class="border-select border-style-select"  style-attr="border-style"></select>
					<select  class="border-select border-width-select"  style-attr="border-width"></select>
					<a class="border border-color"><span id="border_color_input" style-attr="border-color"></span> </a>
					<span class="border-label border-padding-select-label">边距:</span>
					<select class="border-select border-padding-select"  style-attr="padding"></select>
					<span class="border-label">圆角:</span>
					<select class="border-select border-radius-select"  style-attr="border-radius"></select>
			</div>
	</body>
</html>
