<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="font-style-container">
				<a class="font font-color"><span id="font_color_input" style-attr="color"></span> </a>
				<a class="font font-weight" style-attr="font-weight" ></a>
				<a class="font font-style" style-attr="font-style" ></a>
				<a class="font font-underline" style-attr="text-decoration" ></a>
				<select id="font_family_list" class="font-select" style-attr="font-family"></select>
				<select id="font_size_list" class="font-select" style-attr="font-size"></select>
		</div>
	</body>
</html>
