<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../rely/bootstrap/css/bootstrap.min.css" />
		<script type="text/javascript" src="../../rely/jquery-3.2.1.min.js" ></script>
		<script type="text/javascript" src="../../rely/bootstrap/js/bootstrap.min.js" ></script>
		<style>
			.tool-group{
				padding: 5px;
				display: inline-block;
				margin-right: 15px;
			}
			.tool-group input{
				width:65px;
				height:25px;
				display: inline-block;
			}
			.panel-style-container{
				position: relative;
				left: 527px;
				width: 300px;
				border: 1px gainsboro solid;
				background: #F8F8F8;
				border-radius: 5px;
				padding: 10px;
				display: none;
			}
		</style>
	</head>
	<body>
			
			<div class="tool-group">
				<span>分辨率：</span>
			 	 <input type="text" data-type="number" class="form-control" name="width" ><span style="width: 20px; padding: 3px 5px">X</span>
			 	 <input type="text" data-type="number" class="form-control" name="height" >
			</div>
			<div class="tool-group">
				<span>缩放比例：</span>
			 	 <span>X = </span><input type="text" data-type="number" class="form-control" name="scaleX" style="width: 45px" >
			 	 <span>,Y = </span><input type="text" data-type="number" class="form-control" name="scaleY" style="width: 45px" >
			</div>
			<button id="tool_export" class="btn btn-primary btn-xs" type="button" name="export">导出</button>
			<button id="tool_style" class="btn btn-primary btn-xs" type="button" name="style">画布样式</button>
			<div class="panel-style-container">
				  <form class="form-horizontal">
						  <div class="form-group">
							    <label for="style_background" class="col-sm-3 control-label">背景：</label>
							    <div class="col-sm-7">
							      <input name="background" data-type="text" type="text" class="form-control" id="style_background" placeholder="css样式">
							    </div>
						  </div>
						   <div class="form-group">
							    <label for="style_border" class="col-sm-3 control-label">边框：</label>
							    <div class="col-sm-7">
							      <input name="border" data-type="text" type="text" class="form-control" id="style_border" placeholder="css样式">
							    </div>
							 </div>
							<div class="form-group">
							    <label for="style_font" class="col-sm-3 control-label">字体：</label>
							    <div class="col-sm-7">
							      <input name="style.font" data-type="text" type="text" class="form-control" id="style_font" placeholder="css样式">
							    </div>
							 </div>
					</form>
			</div>
	</body>
</html>
