*{
	 margin: 0;
	 padding: 0;
 }
body{
	font-size: 14px;
	font-family: "微软雅黑";
}
iframe{
	border: none;
    min-height: 500px;
}
.logo-text {
	font-size: 18px;
	font-weight: bold;
	padding-left: 10px;
}

#left-nav li{
	list-style-type: none;
    list-style-position: outside;
    list-style-image: none; 
}
#left-nav li{
	color: #555;
	position: relative;
    display: block;
    padding: 10px 15px;
}

#left-nav .active {
	color: #337ab7;
}
#left-nav li a{
	color:inherit;
	text-decoration:none;
}
